
*{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
  
}


.App {
  text-align: center;
  height: 260vh;
  width: 100%;
  background-color: rgba(255, 128, 0, 0.317);

}

.search-main{
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}


.serch-form{
  display: flex;
  justify-content: center;
  width: max-content;

}

.serch-form,select{
  padding-left:10px;
  border: 1.5px solid black;
  background-color: white;
  border-radius: 5px;
 
}
 
.serch-form,option{
  background-color: rgba(229, 115, 15, 0.274);
  text-align: center;
  text-transform:capitalize;

}


.serch-form ,input{
/* border-radius: 8px; */

  width: 220px ;
  height: 35px;
  border:1.5px solid black;
  border-radius: 4px;
  padding: 2px 5px;
  outline: none;
  font-size: 16px;
  text-align: center;
  
}
.serch-form,button{
/* border-radius: 8px; */
  height: 35px;

border: 1.5px solid black;
background-color: rgba(29, 222, 129, 0.804);
width:65px ;
border-radius: 5px;
}

.serch-form,button:hover{
background-color:rgba(7, 45, 26, 0.671);
/* background-color: white;
border: 1.5px solid rgba(29, 222, 129, 0.804); */
 color: white;
 /* color: rgba(29, 222, 129, 0.804);
 border-left-color:black ; */
 
}


.app-recipe-main{
  

 /* margin: 50px 50px; */
 margin-top: 50px;

  width: 100%;
  align-items:center;
  justify-content:space-around;
  display: flex;
 
  
  flex-wrap:wrap ;
} 


.label-option{
  width: fit-content;
  height:35px ;
}



@media screen and (max-width:414px) {
  .search-main{
    margin-top: 50px;
    display: flex;
  flex-wrap: wrap;  
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  
}